/* 页面整体 */
body {
    margin: auto;
}

/* 页脚 */
footer {
    color: #888;
    margin-top: 15px;
    text-align: center;
    padding: 10px;
}

/* 头像 */
.avatar {
    width: 60px;
    vertical-align: middle;
}

h2 span {
    vertical-align: bottom;
}

/* 龙猫图片 */
.totoro {
    display: block;
    margin: 0 auto;
    height: 100px;
}

.float-right {
    float: right;
}


/* 覆盖某些浏览器对 input 元素定义的字体 */
input[type=submit] {
    font-family: inherit;
}

input {
    border: 1px solid #ddd;
}

input[name=year] {
    width: 50px;
}



.inline-form {
    display: inline;
}